/*
GENERAL STYLES
*/

* {
  box-sizing: border-box;
}

.App {
  width: 90%;
  margin: auto;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}



/*
CARDS STYLING
*/


.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 3em;

}

@media (max-width:780px){
  .cards-container {
    grid-template-columns: 1fr 1fr ;
    grid-row-gap: 3em;
    grid-column-gao: 2em;
  }
  .photo {
    height: 250px;
    width: 200px;
}

}


@media (max-width:480px){
  .cards-container {
    grid-template-columns: 1fr ;
    grid-row-gap: 3em;
    grid-column-gao: 2em;
  }
  .photo {
    height: 100px;
    width: 50px;
}
   .app {
     margin: 0;
   }
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo {
  height: 350px;
  width: 250px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;


}

.name {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
}

.house {
  margin-top: 20px;
  height: 100px;
  width:  100px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.life-indicator {
  margin-top: 20px;
  font-size: 40px;
}

/*
INPUT FILTER STYLING
*/

.searchbar {
  width: 50%;
  margin: 5% 25%;
  outline: none;
  border: 0;
  border-bottom: 2px solid #000;
  font-size: 30px;
  line-height: 35px;
  height: 50px;
  text-align: center;
  padding: 1%;
	color: #000;

}

.main-logo {
  background-image: url("/images/logo-harry.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 250px;
  width: 300px;
  margin: 2.5% auto 0;
}
